extends layout

block content
  h1 Slot Machine
  div(id="screen")
    div(id="left-screen")
      h1 *
    div(id="middle-screen")
      h1 *
    div(id="right-screen")
      h1 *
    div(id="controls")
      button(id="pull-button", value="Pull") Pull
    div.clear